In [1]:
print ("Hello, world!")

Hello, world!

In [2]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.4678, "Argentine Pesos", 1)

'88.47 Argentine Pesos are worth US$1'

In [3]:
int(False)

0

In [4]:
int(True)

1

In [5]:
a = True
not a

False

In [6]:
s = "3.14159"
fvalue = float(s)
type(fvalue)

float

In [7]:
int(fvalue)

3

In [8]:
bool(fvalue)

True

In [9]:
bool(0)

False

In [10]:
a = None
a is None

True

In [11]:
b = 5
b is not None

True

In [12]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
    
    return result


add_and_maybe_multiply(2, 3, 5)

25

In [13]:
from datetime import datetime, date, time

dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [14]:
dt.date()

datetime.date(2011, 10, 29)

In [15]:
dt.time()

datetime.time(20, 30, 21)

In [16]:
date.today()

datetime.date(2025, 9, 1)

In [17]:
(date.today() - dt.date()).days

5056

In [18]:
type(dt)

datetime.datetime

In [19]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [20]:
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.strftime('%Y-%m-%d %H:%M')

'2011-10-29 20:30'

In [21]:
datetime(2011, 10, 29, 20, 30, 21).strftime('%Y-%m-%d %H:%M')

'2011-10-29 20:30'

In [22]:
dt2 = datetime.strptime('20091031', '%Y%m%d')
dt2

datetime.datetime(2009, 10, 31, 0, 0)

In [23]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [24]:
datetime.strptime("2009-10-31", "%Y-%m-%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [25]:
strdt="2009-10-31"
datetime.strptime(strdt, "%Y-%m-%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [26]:
dt = datetime(2011, 10, 29, 20, 30, 21)
dt_new = dt.replace(minute=0, second=0)
dt_new

datetime.datetime(2011, 10, 29, 20, 0)

In [27]:
dt = datetime(2011, 10, 29, 20, 0)
dt2 = datetime(2011, 10, 30, 21, 0)
delta = dt2 - dt
delta

datetime.timedelta(days=1, seconds=3600)

In [28]:
type(delta)

datetime.timedelta

In [29]:
dt = datetime(2011, 10, 29, 20, 0)
dt2 = datetime(2011, 10, 30, 21, 0)
day_difference = (dt2 - dt).days
day_difference

1

In [30]:
dt

datetime.datetime(2011, 10, 29, 20, 0)

In [31]:
dt+delta

datetime.datetime(2011, 10, 30, 21, 0)

In [32]:
# control flow: conditional logic, loops, etc.
x = -5
if x < 0:
    print("It's negative")

It's negative

In [33]:
x = 5
if x < 0:
    print("It's negative")
elif x == 0:
    print("It's zero")
elif 0 < x < 5:
    print("Positive but smaller than 5")
else:
    print("5 or larger")

5 or larger

In [34]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("At least one of these is true")

# In this example, the comparison c > d never gets evaluated because the first comparison was True.

At least one of these is true

In [35]:
4 > 3 > 2 > 1 # chain comparisons

True

In [36]:
# for loops
# Iterate through the sequence and sum the values, skipping None values
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
total

12

In [37]:
# This code iterates through the 'sequence' list and sums the values until it encounters the value 5.
# When the value 5 is found, the loop breaks and stops adding further values.
# The result, 'total_until_5', contains the sum of all values before the first occurrence of 5.
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

In [38]:
# This code demonstrates nested loops with a break statement.
# For each value of i from 0 to 3, j also goes from 0 to 3.
# When j becomes greater than i, the inner loop breaks.
# This results in printing all pairs (i, j) where j <= i.
# Outer loop: i goes from 0 to 3
for i in range(4):
    # Inner loop: j goes from 0 to 3
    for j in range(4):
        # If j is greater than i, exit the inner loop
        if j > i:
            break
        # Print the current values of i and j
        print(i, j)

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3

In [39]:
# Example: Unpacking three values from an iterator of tuples
# The following code demonstrates unpacking values from a list of tuples.
# Each tuple in 'triplets' contains three elements.
# The for loop unpacks each tuple into variables a, b, and c in each iteration.
triplets = [(1, 'a', True), (2, 'b', False), (3, 'c', True)]
for a, b, c in triplets:
    print(f"a={a}, b={b}, c={c}")

a=1, b=a, c=True
a=2, b=b, c=False
a=3, b=c, c=True

In [40]:
# This code demonstrates a while loop that halves the value of x in each iteration,
# adds it to the running total, and stops if the total exceeds 500.
# The loop starts with x = 256 and continues halving x (using integer division)
# until x becomes 0 or the total exceeds 500.

# Initialize x with 256
x = 256
# Initialize total with 0
total = 0
# Start the while loop; continue as long as x > 0
while x > 0:
    # If total exceeds 500, exit the loop
    if total > 500:
        break
    # Add current x to total
    total += x
    # Halve x using integer division
    x = x // 2
# Output the final total

print("x =", x, "total =", total)

x = 4 total = 504

In [41]:
if x < 0:
    print("negative!")
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print("positive!")

positive!

In [42]:
range(10)

range(0, 10)

In [43]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [45]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [46]:
# use of range for iterating through sequences by index
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [47]:
# sums all numbers from 0 to 99,999 that are multiples of 3 or 5
total = 0  # Initialize the total sum to zero
for i in range(100_000):  # Loop over numbers from 0 to 99,999
    if i % 3 == 0 or i % 5 == 0:  # Check if the number is a multiple of 3 or 5
        total += i  # Add the number to the total if condition is met
print(total)  # Print the final sum
print(i)  # Print the last value of i (should be 99,999)

2333316668
99999